.user__login__header
  =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?863303983", alt: "mercari", class: "user__login__header--image"

.user__login__main
  = form_for User.new, url: new_user_path, method: :get do |f|
    .user__login__main__header
      .user__login__main__header__main-title アカウントをお持ちでない方はこちら
      .user__login__main__header__container
        .user__login__main__header__container__form-box
          = link_to "新規会員登録", "/jp/signup", method: :get, class: "signup_btn"
    .user__login__main__body
      .user__login__main__body__forms-container
        .user__login__main__body__forms-container__form-box
          =link_to "/users/auth/facebook", class: "facebook" do
            .facebook--left
              =fa_icon "facebook-square"
            .facebook--right
              Facebookでログイン
          =link_to "/users/auth/google_oauth2", class: "google" do
            .google--left
              =fa_icon "google"
            .google--right
              Googleでログイン
          .field
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス",class:"sign-up-input"
          .field
            = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード",class:"sign-up-input"
            = f.submit "ログイン", class: "login_btn"
            = link_to "パスワードをお忘れの方", new_user_path, class: "password"
.sign-up__footer
  %nav
    %ul
      %li
        プライバシーポリシー
      %li
        メルカリ利用規約
      %li
        特定商取引に関する表記
  =link_to "https://www.mercari.com/jp/", class: "single-footer-logo" do
    =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3791839826", alt: "mercari", class: "single-footer-logo",size:'80px*65px'
  .footer-campany-name
    © 2019 Mercari
