= render "modules/header"

.l-container.clearfix

  = render "modules/mypage-sidebar"

  .l-content
  %section.l-chapter-container
    %h2.l-chapter-head クレジットカード情報入力
    %form#add-card-form.l-single-inner.registration-form{action: "https://www.mercari.com/jp/mypage/card/add/", "data-adyen-id": "card-form", method: "POST", novalidate: "novalidate"}
      %input{name: "__csrf_value", type: "hidden", value: "3c4f11465244650df31f45c7ae9fd640b5106547cef796d0b550904a6a9caef0e0ff6bfb18a9df809256bf3b41457777a9610f294078b4f08ac73e31ab382d587"}/
      .l-single-content
        .form-group
          %label{for: "payment_card_no"} カード番号
          %span.form-require 必須
          %input#payment_card_no.input-default{"data-input-type": "card", maxlength: "19", placeholder: "半角数字のみ", type: "text", value: ""}/
          %ul#card-no-error-wrapper.has-error-text
          %ul.signup-card-list
            = image_tag ('https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3951034907')
            = image_tag ('https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3951034907')
            = image_tag ('https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3951034907')
            = image_tag ('https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3951034907')
            = image_tag ('https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3951034907')
            = image_tag ('https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3951034907')
            = image_tag ('https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3951034907')
        .form-group.signup-form-expire
          %label{for: "payment_card_expire"} 有効期限
          %span.form-require 必須
          %br/
        .select-wrap.half-main
          .select-wrap.half-1
            %select#payment_card_expire_mm.select-default
              %option{value: "01"} 01
              %option{value: "02"} 02
              %option{value: "03"} 03
              %option{value: "04"} 04
              %option{value: "05"} 05
              %option{value: "06"} 06
              %option{value: "07"} 07
              %option{value: "08"} 08
              %option{value: "09"} 09
              %option{value: "10"} 10
              %option{value: "11"} 11
              %option{value: "12"} 12
            %i.icon-arrow-bottom
            %span 月
          .select-wrap.half-2
            %select#payment_card_expire_yy.select-default
              %option{value: "19"} 19
              %option{value: "20"} 20
              %option{value: "21"} 21
              %option{value: "22"} 22
              %option{value: "23"} 23
              %option{value: "24"} 24
              %option{value: "25"} 25
              %option{value: "26"} 26
              %option{value: "27"} 27
              %option{value: "28"} 28
              %option{value: "29"} 29
            %i.icon-arrow-bottom
            %span 年
          %ul#expire-mm-error-wrapper.has-error-text
          %ul#expire-yy-error-wrapper.has-error-text
        .form-group
          %label{for: "payment_card_security_code"} セキュリティコード
          %span.form-require 必須
          %input#payment_card_security_code.input-default{placeholder: "カード背面4桁もしくは3桁の番号", type: "number", value: ""}/
          %ul#security-code-error-wrapper.has-error-text
          .signup-seqcode
            .signup-seqcode-text{"data-js": "show-tips-toggle"}
              %span.form-question> 
              カード裏面の番号とは？
            .signup-seqcode-info{"data-js": "show-tips-content"}
              %br/
        %input#user_id{name: "user_id", type: "hidden", value: "103665627"}/
        %input#encrypted_card_data{name: "encrypted_card_data", type: "hidden"}/
        %button#submit-button.btn-default.btn-red{type: "button"} 追加する


= render "modules/sell-btn"
= render "modules/footer"