%nav.iden_bread-crumbs
  .iden_bread-crumbs-box
    = link_to 'https://www.mercari.com/jp/', class: "contents" do
      メルカリ
      = fa_icon 'angle-double-right'
    = link_to 'https://www.mercari.com/jp/mypage/', class: "contents" do
      マイページ
      = fa_icon 'angle-double-right'
    %span{itemprop: "title"} 本人情報の登録

.iden_main-content
  .iden_left-content
    = render 'modules/mypage-sidebar'

  .iden_right-content
    %h2.iden_head 本人情報の登録
    %form.iden_form{action: "url", method: "POST", novalidate: ""} 
      %div
        %p
          お客さまの本人情報をご登録ください。
          %br>/
          登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        %p.iden_info-right
          %a.iden_info-right_link{href: "url", target: "_blank"}
            本人確認書類のアップロードについて>
            %i.icon-arrow-right
      .iden_form-group
        %label お名前
        %p 道面 拓也
      .iden_form-group
        %label お名前カナ
        %p ドウメン タクヤ
      .iden_form-group
        %label{for: "birthday"} 生年月日
        %p 1991/10/31
      .iden_form-group
        %label{for: "zip_code"} 郵便番号
        %span.iden_form-arbitrary 任意
        %input.iden_form-input{name: "zip_code", placeholder: "例）1234567", type: "text", value: ""}
      .iden_form-group
        %label{:for => "prefecture"} 都道府県
        %span.form-arbitrary 任意
        .select-wrap
          %i.fa.fa-chevron-down
          -# prefectureテーブルから持ってくる
          %select.select-default{name: "prefecture"}
            %option --
            %option 北海道
            %option 青森県
            %option 岩手県
            %option 宮城県
            %option 秋田県
            %option 山形県
            %option 福島県
            %option 東京都
            %option 神奈川県
            %option 埼玉県
            %option 千葉県
            %option 茨城県
            %option 栃木県
            %option 群馬県
            %option 山梨県
            %option 新潟県
            %option 長野県
            %option 富山県
            %option 石川県
            %option 福井県
            %option 愛知県
            %option 岐阜県
            %option 静岡県
            %option 三重県
            %option 大阪府
            %option 兵庫県
            %option 京都府
            %option 滋賀県
            %option 奈良県
            %option 和歌山県
            %option 鳥取県
            %option 島根県
            %option 岡山県
            %option 広島県
            %option 山口県
            %option 徳島県
            %option 香川県
            %option 愛媛県
            %option 高知県
            %option 福岡県
            %option 佐賀県
            %option 長崎県
            %option 熊本県
            %option 大分県
            %option 宮崎県
            %option 鹿児島県
            %option 沖縄県
      .iden_form-group
        %label{for: "city"} 市区町村
        %span.form-arbitrary 任意
        %input.iden_form-input{name: "city", placeholder: "例) 横浜市緑区", type: "text", value: ""}/
      .iden_form-group
        %label{for: "address1_label"} 番地
        %span.iden_form-arbitrary 任意
        %input.iden_form-input{name: "address1", placeholder: "例) 青山1−1−1", type: "text", value: ""}/
      .iden_form-group
        %label{:for => "address2_label"} 建物名
        %span.form-arbitrary 任意
        %input.iden_form-input{name: "address2", placeholder: "例) 柳ビル103", type: "text", value: ""}/
      %button.iden_btn{type: "submit"} 登録する

      .iden_form-group_info-right
        %p
          %a{:href => "url", :target => "_blank"}
            本人情報の登録について>
          %i.icon-arrow-right
      %input{:name => "__csrf_value", :type => "hidden", :value => "e3822d7c75b0a6c40777ec6f3cff18bfafa93f62ff99d758079f5f68814c987eca7be2240fd94dacd22ca552b7fc0c6030b6847a03a2bca4bcbc03097374f86e5"}/

= render 'shared/footer'