= render "modules/header"

%nav.logout-bread-crumbs
  .logout-bread-crumbs-box
    = link_to '/jp', class: "contents" do
      メルカリ
      = fa_icon 'angle-double-right'
    = link_to '/jp/mypage', class: "contents" do
      マイページ
      = fa_icon 'angle-double-right'
    %span{itemprop: "title"} ログアウト

.logout_main-content
  .logout_left-content
    = render 'modules/mypage-sidebar'

  .logout_right-content
    .logout_right-container
      = link_to "ログアウト" , destroy_user_session_path, method: :delete

= render "modules/sell-btn"
= render 'modules/footer'