= render "modules/header"

%nav.logout-bread-crumbs
  .logout-bread-crumbs-box
    = link_to '/jp', class: "contents" do
      メルカリ
      = fa_icon 'angle-double-right'
    = link_to '/jp/mypage', class: "contents" do
      マイページ
      = fa_icon 'angle-double-right'
    %span{itemprop: "title"} ログアウト

.logout-main
  .logout-main__left
    = render 'modules/mypage-sidebar'

  .logout-main__right
    .logout-main__right__content
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-btn"
= render "modules/sell-btn"
= render 'modules/footer'