= render "modules/header"
%main
  .main-visual
    = image_tag 'index_keyvisual.png', size: "700x380"
  .pickup
    %h2.pickup__heading ピックアップカテゴリー
    = current_user.nickname
    .pickup__item
      %h3.pickup__item__category
        .pickup__item__category__title  レディース 新着アイテム
        - @items_for_woman.first(4).each do |item|
          = render partial: "modules/category-index", locals: { item: item }
      .pickup__item__all
        %p.pickup__item__all__link 全ての商品を見る
    .pickup__item
      %h3.pickup__item__category
        .pickup__item__category__title  メンズ 新着アイテム
        - @items_for_man.first(4).each do |item|
          = render partial: "modules/category-index", locals: { item: item }
      .pickup__item__all
        %p.pickup__item__all__link 全ての商品を見る
    .pickup__item
      %h3.pickup__item__category
        .pickup__item__category__title  SPORTS 新着アイテム
        - @items_for_sports.first(4).each do |item|
          = render partial: "modules/category-index", locals: { item: item }
      .pickup__item__all
        %p.pickup__item__all__link 全ての商品を見る
    .pickup__item
      %h3.pickup__item__category
        .pickup__item__category__title  インテリア 新着アイテム
        - @items_for_interior.first(4).each do |item|
          = render partial: "modules/category-index", locals: { item: item }
      .pickup__item__all
        %p.pickup__item__all__link 全ての商品を見る



= render "modules/footer"

