= render 'modules/header'

.flash-content
  - flash.each do |key, value|
    = content_tag(:div, value, class: "flash flash__#{key}")

%section.item-box-container.l-single-container
  %h1.item-name
    = @item.name
  .item-main-content
    .item-photo
      .owl-carousel
        .owl-item-inner
          = image_tag @item.item_images.first.image_url,alt: "商品画像"
          .owl-item-inner-sub-box
          - @images.each do |image|
            .owl-item-inner-sub
              = image_tag image.image_url

    .visible-sp
    .item-btn-float-area
      %a.item-btn-client
    .item-detail-table
      .tr
        .th 出品者
        .td
          = @item.user.nickname
          %div
            .item-user
      .tr
        .th-sub-children カテゴリー
        .td-sub-children
          = @item.category.root.name
          %br/
          = fa_icon 'angle-double-right'
          = @item.category.parent.name
          %br/
          = fa_icon 'angle-double-right'
          = @item.category.parent.name
      .tr
        .th ブランド
        .td
          = @item.brand
      .tr
        .th 商品のサイズ
        .td
      .tr
        .th 商品の状態
        .td
          =@item.item_state.item_state
      .tr
        .th 配送料の負担
        .td
          = @item.delivery_fee.delivery_fee
      .tr
        .th 配送の方法
        .td クロネコヤマト
      .tr
        .th 配送元地域
        .td 東京
      .tr
        .th 発送日の目安
        .td
          = @item.delivery_day.delivery_day
  .item-price-box.text-center
    %span.item-price.bold
      ￥
      = @item.price
    %span.item-tax 円(税込)
    %span.item-shipping-fee 送料込み

    -# 条件分岐
  - if @item.user_id == current_user.id
    .text-center

      .item-buy-btn
        = link_to '商品を削除する', item_path(@item),method: :delete

  - else
    .text-center
      .item-buy-btn
        = link_to '購入画面に進む', purchase_cards_path( item_id: @item )
  .item-description.f14
    %p.item-description-inner
      = @item.description
  .item-button-container
    .item-button-left
      %button.item-button.item-button-like{"data-ga": "element", "data-ga-category": "LIKE", "data-ga-label": "like!", "data-id": "m11168273272", "data-toggle": "like", name: "like!", type: "button"}
        %i.icon-like-border
        %span いいね!
        %span.fade-in-down{"data-num": "like"} 21
      %a.item-button.item-button-report
        %i.icon-flag
        %span 不適切な商品の報告
    .item-button-right
      %span あんしん・あんぜんへの取り組み

  .message-content
    .comments-container
    - if current_user
      = form_tag("/jp/items/#{@item.id}/item_comments", method: :post) do
        %textarea{:cols => "30", :name => "comment", :placeholder => "相手のことを考え丁寧なコメントを心がけましょう。\n不快な言葉遣いなどは利用制限や退会処分となることがあります。", :rows => "2"}
        %input{:type => "submit", :value => "コメントする"}/

    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.nickname
            = comment.comment






  .item-link-prev-next
    .item-link-prev
      -if @prev_item.present?
        = link_to item_path(@prev_item), class: 'prev-next-left' do
          =fa_icon 'chevron-left'
          %span
            = @prev_item.name
    .item-link-next
      -if @next_item.present?
        = link_to item_path(@next_item), class: 'prev-next--right' do
          %span
            = @next_item.name
            = fa_icon 'chevron-right'
  .item-social-media-box
    .fb-save{"data-uri" => "product://113299479059860/m46057519022"}

  %ul.social-media-box
    = fa_icon 'facebook-square', class: "contents-icon"
    = fa_icon 'twitter-square', class: "contents-icon"
    = fa_icon 'pinterest', class: "contents-icon"
  %h2.items-box-head
    = @item.user.nickname
    さんの出品
  .items-box-content1
  .pickup__item__category__title
  - @item_user.each do |user|
    .pickup__item__box__content
      = link_to item_path(user) do
        .pickup__item__box__content__link
          = image_tag user.item_images.first.image_url,class: "top_image",alt: "商品画像", size: "213x220"
          .pickup__item__box__content__link__body
            .pickup__item__box__content__link__body__name
              = user.name
          .pickup__item__detail__price
            ￥
            = user.price
  .items-box-content1
  %h2.items-box-head_sub
    おすすめアイテム

  .pickup__item__category__title
  - @products.each do |product|
    .pickup__item__box__content
      = link_to item_path(product) do
        .pickup__item__box__content__link
          = image_tag product.item_images.first.image_url,class: "top_image",alt: "商品画像", size: "213x220"
          .pickup__item__box__content__link__body
            .pickup__item__box__content__link__body__name
              = product.name
          .pickup__item__detail__price
            ￥
            = product.price
= render "modules/footer"