.sign-up__header
  =link_to root_path do
    =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?863353983", alt: "mercari", class: "sign-up__header--image"
  .step_bar
    %ul.cp_stepflow01
      %li.completed
        会員情報
        %span.bubble
      %li.active_step
        電話番号認証
        %span.bubble
      %li
        お届け先住所入力
        %span.bubble
      %li
        支払い方法
        %span.bubble
      %li
        完了
        %span.bubble>
.sign-up__main
  = form_for User.new, url: new_user_path, method: :get do |f|
    .sign-up__main__header 
      %h2.sign-up__main__header__main-title 電話番号の確認
    .sign-up__main__body
      .sign-up__main__body__forms-container
        .sign-up__main__body__forms-container__form-box
          = f.label :name, "携帯電話の番号"
          .sign-up__main__body__forms-container__form-box__inner
            = f.telephone_field :phone_number, class: "big", required: "true",placeholder: "携帯電話の番号を入力"
        %h4 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        .sign-up__main__body__forms-container__form-box
          = f.submit "SMSを送信する", class: "buttom1"
          %h4 ※電話番号は本人確認や不正防止のために利用します。他のユーザーに公開されることはありません。
        .form__link
          = link_to "電話番号が必要な理由", "#", class: "link1"
.sign-up__footer
  %nav
    %ul
      %li
        プライバシーポリシー
      %li
        メルカリ利用規約
      %li
        特定商取引に関する表記
  =link_to "https://www.mercari.com/jp/", class: "single-footer-logo" do
    =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3791839826", alt: "mercari", class: "single-footer-logo",size:'80px*65px'
  .footer-campany-name
    © 2019 Mercari