= render "modules/header"
%nav.bread-crumbs
  .bread-crumbs-box
    = link_to '/jp', class: "contents" do
      メルカリ
      = fa_icon 'angle-double-right'
    = link_to '/jp/mypage', class: "contents" do
      マイページ
      = fa_icon 'angle-double-right'
    %span{itemprop: "title"} 支払い方法
.main-content
  = render "modules/mypage-sidebar"
  .l-content
    .l-container
      .l-content
        %section.l-chapter-container
          %h2.l-chapter-head 支払い方法
          .l-single-inner
            %section
              .l-single-content
                %h3.l-chapter-sub-head クレジットカード一覧
              %ul.settings-payment-list
            %section.settings-add-card
              .l-single-content
                %a.btn-default.btn-red.submit_button{:href => "https://www.mercari.com/jp/mypage/card/create/"}
                  %i.icon-card>
                  クレジットカードを追加する
            .settings-not-regist
              %a{:href => "/jp/help_center/category/6/", :target => "_blank"}
                %span 支払い方法について
                %i.icon-arrow-right


= render "modules/sell-btn"

= render "modules/footer"