= render "modules/header"
%nav.bread-crumbs
  .bread-crumbs-box
    = link_to '/jp', class: "contents" do
      メルカリ
      = fa_icon 'angle-double-right'
    = link_to '/jp/mypage', class: "contents" do
      マイページ
      = fa_icon 'angle-double-right'
    %span{itemprop: "title"} 支払い方法
.main-content
  = render "modules/mypage-sidebar"
  .l-content
    .l-container
      .l-content
        %section.l-chapter-container
          %h2.l-chapter-head 支払い方法
          .l-single-inner
            %section
              .l-single-content
                .l-chapter-sub-head クレジットカード一覧
              %ul.settings-payment-list
                %li
                  .l-single-content
                    %figure
                      = image_tag ('https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3951034907')
                      %br
                      .settings-payment-num
                      = "**** **** **** " + @default_card_information.last4
                      %br
                      .settings-payment-num
                      - exp_month = @default_card_information.exp_month.to_s
                      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                      = exp_month + " / " + exp_year
                      = form_tag(delete_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
                        %input{ type: "hidden", name: "card_id", value: "", class: "settings-payment-remove" }
                        %button 削除する
            .settings-not-regist
              %a{:href => "/jp/help_center/category/6/", :target => "_blank"}
                %span 支払い方法について
                %i.icon-arrow-right




= render "modules/sell-btn"


= render "modules/footer"

