.header

%section.item-box-container.l-single-container
  %h1.item-name VANS × カリフォルニア工務店 スニーカー ERA 星条旗 27
  .item-main-content
    .item-photo
      .owl-carousel
        .owl-item-inner
          -# %img.owl-lazy{:alt => "VANS × カリフォルニア工務店 スニーカー ERA 星条旗 27", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m11168273272_1.jpg?1539501220"}/
        .owl-item-inner-sub-box
          .owl-item-inner-sub
            = image_tag 'takei.png'
            -# %img.owl-lazy{:alt => "VANS × カリフォルニア工務店 スニーカー ERA 星条旗 27", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m11168273272_2.jpg?1539501220"}/
          .owl-item-inner-sub
            = image_tag 'takei.png'
            -# %img.owl-lazy{:alt => "VANS × カリフォルニア工務店 スニーカー ERA 星条旗 27", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m11168273272_3.jpg?1539501220"}/
          .owl-item-inner-sub
            = image_tag 'takei.png'
            -# %img.owl-lazy{:alt => "VANS × カリフォルニア工務店 スニーカー ERA 星条旗 27", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m11168273272_3.jpg?1539501220"}/
          .owl-item-inner-sub
            = image_tag 'takei.png'
            -# %img.owl-lazy{:alt => "VANS × カリフォルニア工務店 スニーカー ERA 星条旗 27", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m11168273272_3.jpg?1539501220"}/
          .owl-item-inner-sub
            = image_tag 'takei.png'
            -# %img.owl-lazy{:alt => "VANS × カリフォルニア工務店 スニーカー ERA 星条旗 27", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m11168273272_3.jpg?1539501220"}/

    .item-price-box.text-center.visible-sp
      %span.item-price.bold ¥13,100
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    -# .text-center
    -#   .sales-point-message P200 をお持ちです

    %section.visible-sp
      %a.item-buy-btn.f18-24 購入画面に進む
    .item-btn-float-area
      %a.item-btn-client
        -# %div{"data-client" => "visible"}
        -#   購入画面に進む
    .item-detail-table
      .tr
        .th 出品者
        .td
          %a{:href => "https://www.mercari.com/jp/u/179175835/"} ☆☆ALEXIA☆☆
          %div
            .item-user
              .item-user-ratings1
                = image_tag 'good.svg'
                %span 149
              .item-user-ratings2
                = image_tag 'normal.svg'
                %span 0
              .item-user-ratings3
                = image_tag 'bad.svg'
                %span 0
      .tr
        .th カテゴリー
        .td-sub
          %a{:href => "https://www.mercari.com/jp/category/2/"}
            %div メンズ
          %a{:href => "https://www.mercari.com/jp/category/33/"}
            .item-detail-table-sub-category
              %i.icon-arrow-right
              靴
          %a{:href => "https://www.mercari.com/jp/category/345/"}
            .item-detail-table-sub-sub-category
              %i.icon-arrow-right
              スニーカー
      .tr
        .th ブランド
        .td
          %a{:href => "https://www.mercari.com/jp/brand/3485/"}
            %div
              バンズ
      .tr
        .th 商品のサイズ
        .td 27cm
      .tr
        .th 商品の状態
        .td 新品、未使用
      .tr
        .th 配送料の負担
        .td 送料込み(出品者負担)
      .tr
        .th 配送の方法
        .td クロネコヤマト
      .tr
        .th 配送元地域
        .td
          %a{:href => "https://www.mercari.com/jp/area/19/"} 山梨県
      .tr
        .th 発送日の目安
        .td 2~3日で発送
  .item-price-box.text-center
    %span.item-price.bold ¥13,100
    %span.item-tax (税込)
    %span.item-shipping-fee 送料込み
  .text-center
    .sales-point-message
      P200 をお持ちです
  %a.item-buy-btn.f18-24{"data-client" => "hidden", :href => "https://www.mercari.com/jp/transaction/buy/m11168273272/?_s=U2FsdGVkX1_cdkm5jqi1IF0GNlqYcWpX58J75jS9s1YW9x1h1_gGRyl-ME-aqWFC6FHgSaR87aw7uL9zNqh1h6j3B84_goa3I5BbQKtRJcYWT5XBu_mFg8RsiRQWWj4C"} 購入画面に進む
  -# -# %a.item-btn-client{:href => "https://www.mercari.com/jp/transaction/buy/m11168273272/?_s=U2FsdGVkX1_cdkm5jqi1IF0GNlqYcWpX58J75jS9s1YW9x1h1_gGRyl-ME-aqWFC6FHgSaR87aw7uL9zNqh1h6j3B84_goa3I5BbQKtRJcYWT5XBu_mFg8RsiRQWWj4C"}
  -#   %div{"data-client" => "visible"}
  -#     購入画面に進む
  %a.item-action-text{"data-action" => "item/openDetail", "data-adjust-url" => "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=items.buy_button1", "data-key" => "id=m11168273272", "data-play-id" => "com.kouzoh.mercari", "data-toggle" => "open-app", "data-url-scheme" => "mercari://"}
    アプリで購入
  .item-description.f14
    %p.item-description-inner
      VANSとカリフォルニア工務店の限定コラボデニムEraです。
      
      カリフォルニア工務店より第2弾として販売されたvans collection！
      デニムをメインにヒールに星条旗が入る爽やかな一足になります。
      販売と同時に即完。
      各方面で高値で取引されています。
      ゴールデサイズです。
      
      サイズ →US9(27センチ)
      新品未使用 ！
      
      カリフォルニア工務店 VANS バンズ コラボ コラボスニーカー 星条旗 RonHerman RHC ロンハーマン WTW ダブルティ SURT サート サーフ サーフ系
  .item-button-container
    .item-button-left
      %button.item-button.item-button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m11168273272", "data-toggle" => "like", :name => "like!", :type => "button"}
        %i.icon-like-border
        %span いいね!
        %span.fade-in-down{"data-num" => "like"} 21
      %a.item-button.item-button-report{"data-modal" => "report-item", "data-open" => "modal", :href => ""}
        %i.icon-flag
        %span 不適切な商品の報告
      %input{:name => "like_add_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/add/m11168273272/?_s=U2FsdGVkX1_cdkm5jqi1IF0GNlqYcWpX58J75jS9s1YW9x1h1_gGRyl-ME-aqWFC6FHgSaR87aw7uL9zNqh1h6j3B84_goa3I5BbQKtRJcYWT5XBu_mFg8RsiRQWWj4C"}/
      %input{:name => "like_del_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/delete/m11168273272/?_s=U2FsdGVkX1_cdkm5jqi1IF0GNlqYcWpX58J75jS9s1YW9x1h1_gGRyl-ME-aqWFC6FHgSaR87aw7uL9zNqh1h6j3B84_goa3I5BbQKtRJcYWT5XBu_mFg8RsiRQWWj4C"}/
      %input{:name => "__csrf_value", :type => "hidden", :value => "3c4f11465244650df31f45c7ae9fd640b5106547cef796d0b550904a6a9caef0e0ff6bfb18a9df809256bf3b41457777a9610f294078b4f08ac73e31ab382d587"}/
    .item-button-right
      %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"}
        %i.icon-lock
        %span あんしん・あんぜんへの取り組み
  .message-content
    .message-form
    %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .textarea-default
    %button.message-submit.btn-default.btn-gray{:type => "submit"}
      %span コメントする

    %ul.nav-item-link-prev-next.clearfix
      %li.nav-item-link-prev
        ショートパンツ ベージュ
      %li.nav-item-link-next
        【新品未使用】ポケモン ピカチュウ ぬいぐるみ
        %i.icon-arrow-right
  .item-social-media-box
  .text-center
    .fb-save{"data-uri" => "product://113299479059860/m46057519022"}
  %ul.social-media-box
    = fa_icon 'facebook', class: "contents__btn--icon"
    = fa_icon 'facebook', class: "contents__btn--icon"
    = fa_icon 'facebook', class: "contents__btn--icon"
    = fa_icon 'facebook', class: "contents__btn--icon"
  %h2.items-box-head
    (´ω` )さんのその他の出品
  .items-box-content1
    .items-box
      .img-photo
    .items-box
      .img-photo
    .items-box
      .img-photo
  .items-box-content2
    .items-box
      .img-photo
    .items-box
      .img-photo
    .items-box
      .img-photo
  %h2.items-box-head_sub
    その他のアイテム
  .items-box-content1
    .items-box
      .img-photo
    .items-box
      .img-photo
    .items-box
      .img-photo
  .items-box-content2
    .items-box
      .img-photo
    .items-box
      .img-photo
    .items-box
      .img-photo


.app-banner
  
  .app-banner-pc
    = image_tag 'image-footer.png'
    .app-banner-icon.clearfix
      %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
        %img{:alt => "", :height => "40", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?575670517", :width => "133"}/
    %li
      %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
        %img{:alt => "", :height => "40", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?575670517", :width => "133"}/
    %figure
%footer.global-footer
  %nav.clearfix
    .footer-cell
      .footer-head メルカリについて
      %ul
        %li
          %a{:href => "https://about.mercari.com/"} 会社概要（運営会社）
        %li
          %a{:href => "https://www.mercari.com/jp/jobs/"} 採用情報
        %li
          %a{:href => "https://about.mercari.com/press/news/"} プレスリリース
        %li
          %a{:href => "https://jp-news.mercari.com/", :target => "_blank"} 公式ブログ
        %li
          %a{:href => "https://www.mercari.com/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
        %li.footer-social-link
          %a{:href => "https://twitter.com/mercari_jp", :target => "_blank"}
            = fa_icon 'twitter', class: "contents__btn--icon"
        %li.footer-social-link
          %a{:href => "https://www.facebook.com/mercarijp", :target => "_blank"}
            = fa_icon 'facebook', class: "contents__btn--icon"
    .footer-cell
      %h2.footer-head ヘルプ＆ガイド
      %ul
        %li
          %a{:href => "https://www.mercari.com/jp/help_center/"} メルカリガイド
        %li
          %a{:href => "https://www.mercari.com/jp/rakuraku-mercari/"} らくらくメルカリ便
        %li
          %a{:href => "https://www.mercari.com/jp/yuyu-mercari/"} ゆうゆうメルカリ便
        %li
          %a{:href => "https://www.mercari.com/jp/rakuraku-ogata/"} 大型メルカリ便
        %li
          %a{:href => "https://www.mercari.com/jp/guide/car/"} 車体取引ガイド
        %li
          %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"} メルカリあんしん・あんぜん宣言！
        %li
          %a{:href => "https://www.mercari.com/jp/authenticity/"} 偽ブランド品撲滅への取り組み
        %li
          %a{:href => "https://www.mercari.com/jp/box/"} メルカリボックス
    .footer-cell.full-width
      %h2.footer-head プライバシーと利用規約
      .inner-footer-cell
        %ul
          %li
            %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
          %li
            %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
          %li
            %a{:href => "https://www.mercari.com/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
          %li
            %a{:href => "https://www.mercari.com/jp/compliance/"} コンプライアンスポリシー
      .inner-footer-cell
        %ul
          %li
            %a{:href => "https://www.mercari.com/jp/data_security/"} 個人データの安全管理に係る基本方針
          %li
            %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
          %li
            %a{:href => "https://www.mercari.com/jp/shikin_kessai/"} 資金決済法に基づく表示
          %li
            %a{:href => "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために
    .footer-cell.footer-nav-lang
      %h2.footer-head 国
      %ul
        %li
          %a.active{:href => "https://www.mercari.com/jp/"} 日本
        %li
          %a{:href => "https://www.mercari.com/"} United States
  .footer-bottom
    %a.footer-logo{:href => "https://www.mercari.com/jp/"}
      %img{:alt => "mercari", :height => "33", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?575670517", :width => "124"}/
    %span.footer-copyright
      %small © 2019 Mercari

-# %script{:src => "//www-mercari-jp.akamaized.net/assets/js/app.js?3003975446"}
-# #fb-root
-# :javascript
-#   (function(d, s, id) {
-#     var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return;
-#     js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/ja_JP/sdk/xfbml.save.js#xfbml=1&version=v2.5&appId=466308336793848"; fjs.parentNode.insertBefore(js, fjs);
-#   }(document, 'script', 'facebook-jssdk'));
-# :javascript
-#   window.dataLayer = window.dataLayer || []
-#   dataLayer.push({
-#     'event': 'dynamic_product',
-#     'ecomm_pagetype': 'product',
-#     'ecomm_prodid': 'm85567368129',
-#     'ecomm_totalvalue': '18000',
-#     'uid': '103665627'
-#   });
-# :javascript
-#   window.dataLayer = window.dataLayer || [];
-#   dataLayer.push({
-#     'event': 'virtual_pageview',
-#     'uid': '103665627',
-#     'trackPageview': '/jp/m85567368129/on_sale/'
-#   });
-# / Google Tag Manager
-# :javascript
-#   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
-#   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
-#   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
-#   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
-#   })(window,document,'script','dataLayer','GTM-KLPT5L5');
-# / End Google Tag Manager
