.header

%section.item-box-container.l-single-container
  %h1.item-name VANS × カリフォルニア工務店 スニーカー ERA 星条旗 27
  .item-main-content
    .item-photo
      .owl-carousel
        .owl-item-inner
        .owl-item-inner-sub-box
          .owl-item-inner-sub
            = image_tag 'takei.png'
          .owl-item-inner-sub
            = image_tag 'takei.png'
          .owl-item-inner-sub
            = image_tag 'takei.png'
          .owl-item-inner-sub
            = image_tag 'takei.png'
          .owl-item-inner-sub
            = image_tag 'takei.png'

    .item-price-box.text-center.visible-sp
      %span.item-price.bold ¥13,100
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み

    .visible-sp
    .item-btn-float-area
      %a.item-btn-client
    .item-detail-table
      .tr
        .th 出品者
        .td
          = link_to '☆☆ALEXIA☆☆','https://www.mercari.com/jp/u/179175835/'
          %div
            .item-user
              .item-user-ratings1
                = image_tag 'good.svg'
                %span 149
              .item-user-ratings2
                = image_tag 'normal.svg'
                %span 0
              .item-user-ratings3
                = image_tag 'bad.svg'
                %span 0
      .tr
        .th カテゴリー
        .td-sub
          = link_to 'メンズ',class:'item-detail-table-category'
          = link_to  '靴',class:'item-detail-table-sub-category'
          = link_to 'スニーカー',class:'item-detail-table-sub-sub-category'
      .tr
        .th ブランド
        .td
          = link_to 'バンズ'
      .tr
        .th 商品のサイズ
        .td 27cm
      .tr
        .th 商品の状態
        .td 新品、未使用
      .tr
        .th 配送料の負担
        .td 送料込み(出品者負担)
      .tr
        .th 配送の方法
        .td クロネコヤマト
      .tr
        .th 配送元地域
        .td
          = link_to '山梨県'
      .tr
        .th 発送日の目安
        .td 2~3日で発送
  .item-price-box.text-center
    %span.item-price.bold ¥13,100
    %span.item-tax (税込)
    %span.item-shipping-fee 送料込み
  .text-center
    .sales-point-message
      P200 をお持ちです
    .item-buy-btn
      = link_to '購入画面に進む'
  .item-description.f14
    %p.item-description-inner
      VANSとカリフォルニア工務店の限定コラボデニムEraです。
      
      カリフォルニア工務店より第2弾として販売されたvans collection！
      デニムをメインにヒールに星条旗が入る爽やかな一足になります。
      販売と同時に即完。
      各方面で高値で取引されています。
      ゴールデサイズです。
      
      サイズ →US9(27センチ)
      新品未使用 ！
      
      カリフォルニア工務店 VANS バンズ コラボ コラボスニーカー 星条旗 RonHerman RHC ロンハーマン WTW ダブルティ SURT サート サーフ サーフ系
  .item-button-container
    .item-button-left
      %button.item-button.item-button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m11168273272", "data-toggle" => "like", :name => "like!", :type => "button"}
        %i.icon-like-border
        %span いいね!
        %span.fade-in-down{"data-num" => "like"} 21
      %a.item-button.item-button-report
        %i.icon-flag
        %span 不適切な商品の報告
      %input{:name => "like_add_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/add/m11168273272/?_s=U2FsdGVkX1_cdkm5jqi1IF0GNlqYcWpX58J75jS9s1YW9x1h1_gGRyl-ME-aqWFC6FHgSaR87aw7uL9zNqh1h6j3B84_goa3I5BbQKtRJcYWT5XBu_mFg8RsiRQWWj4C"}/
      %input{:name => "like_del_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/delete/m11168273272/?_s=U2FsdGVkX1_cdkm5jqi1IF0GNlqYcWpX58J75jS9s1YW9x1h1_gGRyl-ME-aqWFC6FHgSaR87aw7uL9zNqh1h6j3B84_goa3I5BbQKtRJcYWT5XBu_mFg8RsiRQWWj4C"}/
      %input{:name => "__csrf_value", :type => "hidden", :value => "3c4f11465244650df31f45c7ae9fd640b5106547cef796d0b550904a6a9caef0e0ff6bfb18a9df809256bf3b41457777a9610f294078b4f08ac73e31ab382d587"}/
    .item-button-right
      %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"}
        %i.icon-lock
        %span あんしん・あんぜんへの取り組み
  .message-content
    .message-form
    %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .textarea-default
    %button.message-submit.btn-default.btn-gray{:type => "submit"}
      %span コメントする

    %ul.nav-item-link-prev-next.clearfix
      %li.nav-item-link-prev
        ショートパンツ ベージュ
      %li.nav-item-link-next
        【新品未使用】ポケモン ピカチュウ ぬいぐるみ
        %i.icon-arrow-right
  .item-social-media-box
  .text-center
    .fb-save{"data-uri" => "product://113299479059860/m46057519022"}
  %ul.social-media-box
    = fa_icon 'facebook', class: "contents__btn--icon"
    = fa_icon 'facebook', class: "contents__btn--icon"
    = fa_icon 'facebook', class: "contents__btn--icon"
    = fa_icon 'facebook', class: "contents__btn--icon"
  %h2.items-box-head
    (´ω` )さんのその他の出品
  .items-box-content1
    .items-box
      .img-photo
    .items-box
      .img-photo
    .items-box
      .img-photo
  .items-box-content2
    .items-box
      .img-photo
    .items-box
      .img-photo
    .items-box
      .img-photo
  %h2.items-box-head_sub
    その他のアイテム
  .items-box-content1
    .items-box
      .img-photo
    .items-box
      .img-photo
    .items-box
      .img-photo
  .items-box-content2
    .items-box
      .img-photo
    .items-box
      .img-photo
    .items-box
      .img-photo


.app-banner
  .app-banner-pc
    = image_tag 'image-footer.png'
    .app-banner-icon.clearfix
    %figure
%footer.global-footer
  %nav.clearfix
    .footer-cell
      .footer-head メルカリについて
      %ul
        %li
          = link_to '会社概要（運営会社)','https://about.mercari.com/'
        %li
          = link_to '採用情報', 'https://www.mercari.com/jp/jobs/'
        %li
          = link_to 'プレスリリース', 'https://about.mercari.com/press/news/'
        %li
          = link_to '公式ブログ', 'https://jp-news.mercari.com/'
        %li
          = link_to 'メルカリロゴ利用ガイドライン', 'https://www.mercari.com/jp/logo-guidelines/'
        %li.footer-social-link
          =link_to "https://www.facebook.com/", class: "contents__btn contents__btn--facebook" do
            = fa_icon 'facebook', class: "contents__btn--icon"
        %li.footer-social-link
          =link_to "https://twitter.com/", class: "contents__btn contents__btn--twitter" do
            = fa_icon 'twitter', class: "contents__btn--icon"
          
    .footer-cell
      %h2.footer-head ヘルプ＆ガイド
      %ul
        %li
          = link_to 'メルカリガイド', 'https://www.mercari.com/jp/help_center/'
        %li
          = link_to 'らくらくメルカリ便', 'https://www.mercari.com/jp/rakuraku-mercari/'
        %li
          = link_to 'ゆうゆうメルカリ便', 'https://www.mercari.com/jp/yuyu-mercari/'
        %li
          = link_to '大型メルカリ便', 'https://www.mercari.com/jp/rakuraku-ogata/'
        %li
          = link_to '車体取引ガイド', 'https://www.mercari.com/jp/guide/car/'
        %li
          = link_to 'メルカリあんしん・あんぜん宣言！', 'https://www.mercari.com/jp/safe/description/'
        %li
          = link_to '偽ブランド品撲滅への取り組み', 'https://www.mercari.com/jp/authenticity/'
        %li
          = link_to 'メルカリボックス', 'https://www.mercari.com/jp/box/'
    .footer-cell.full-width
      %h2.footer-head プライバシーと利用規約
      .inner-footer-cell
        %ul
          %li
            = link_to 'プライバシーポリシー', 'https://www.mercari.com/jp/privacy/'
          %li
            = link_to 'メルカリ利用規約', 'https://www.mercari.com/jp/tos/'
          %li
            = link_to 'あんしんスマホサポート制度に関する利用特約', 'https://www.mercari.com/jp/tos_smartphone_support/'
          %li
            = link_to 'コンプライアンスポリシー', 'https://www.mercari.com/jp/compliance/'
      .inner-footer-cell
        %ul
          %li
            = link_to '個人データの安全管理に係る基本方針', 'https://www.mercari.com/jp/data_security/'
          %li
            = link_to '特定商取引に関する表記', 'https://www.mercari.com/jp/tokutei/'
          %li
            = link_to '資金決済法に基づく表示','https://www.mercari.com/jp/shikin_kessai/'
          %li
            = link_to '法令順守と犯罪抑止のために','https://about.mercari.com/csr/safety/'
    .footer-cell.footer-nav-lang
      %h2.footer-head 国
      %ul
        %li
          = link_to '日本','https://www.mercari.com/jp/'
        %li
          = link_to 'United States','https://www.mercari.com/'
  .footer-bottom
    .footer-logo
      = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?4248847005')
    %span.footer-copyright
      © 2019 Mercari
