.sign-up__header
  =link_to root_path do
    =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?863353983", alt: "mercari", class: "sign-up__header--image"
  .step_bar
    %ul.cp_stepflow01
      %li.active_step
        会員情報
        %span.bubble
      %li
        電話番号認証
        %span.bubble
      %li
        お届け先住所入力
        %span.bubble
      %li
        支払い方法
        %span.bubble
      %li
        完了
        %span.bubble>
.sign-up__main
  .sign-up__main__header
    %h2.sign-up__main__header__main-title 会員情報入力
  .sign-up__main__body
    .sign-up__main__body__forms-container
      = form_for @user,url: ms_confirmation_path, method: :get do |f|
        .sign-up__main__body__forms-container__form-box
          = f.label :name, 'ニックネーム'
          = f.label :name, '必須', class: "write-must"
          .sign-up__main__body__forms-container__form-box__inner
            = f.text_field :nickname, class: "normal-form", placeholder: "例)永野芽郁", required: "true"

        .sign-up__main__body__forms-container__form-box
          = f.label :name, 'メールアドレス'
          = f.label :name, '必須', class: "write-must"
          .sign-up__main__body__forms-container__form-box__inner
            = f.email_field :email, class: "normal-form", placeholder: "PC・携帯どちらでも可", required: "true"

        .sign-up__main__body__forms-container__form-box
          = f.label :name, 'パスワード'
          = f.label :name, '必須', class: "write-must"
          .sign-up__main__body__forms-container__form-box__inner
            = f.password_field :password, class: "normal-form", placeholder: "7文字以上", required: "true"

        .sign-up__main__body__forms-container__form-box
          = f.label :name, "パスワード (確認)"
          = f.label :name, '必須', class: "write-must"
          .sign-up__main__body__forms-container__form-box__inner
            = f.password_field :password_confirmation, class: "normal-form", placeholder: "7文字以上", required: "true"

        .sign-up__main__body__forms-container__form-box
          %h3 本人確認
          %h4 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .sign-up__main__body__forms-container__form-box
          = f.label :name, 'お名前(全角)', class: "name"
          = f.label :name, '必須', class: "write-must"
          .sign-up__main__body__forms-container__form-box__inner
            %li.form
              = f.text_field :first_name, class: "small-form-left", placeholder: "例)永野", required: "true"
              = f.text_field :last_name, class: "small-form-right", placeholder: "例)芽郁", required: "true"

        .sign-up__main__body__forms-container__form-box
          = f.label :name, 'お名前カナ(全角)'
          = f.label :name, '必須', class: "write-must"
          .sign-up__main__body__forms-container__form-box__inner
            %li.form
              = f.text_field :first_name_kana, class: "small-form-left", placeholder: "例)ナガノ", required: "true"
              = f.text_field :last_name_kana, class: "small-form-right", placeholder: "例)メイ", required: "true"

        .sign-up__main__body__forms-container__form-box
          = f.label :name, '生年月日'
          = f.label :name, '必須', class: "write-must"
          .sign-up__main__body__forms-container__form-box__inner
            = f.text_field :birth_year, class: "mini", required: "true"
            年
            = f.text_field :birth_month, class: "mini", required: "true"
            月
            = f.text_field :birth_day, class: "mini", required: "true"
            日
          %h4.birth ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

        .sign-up__main__body__forms-container__form-box
          %h4 次へ進むのボタンを押すことにより、利用規約に同意したものとみなします

        .sign-up__main__body__forms-container__form-box
          = f.submit "次へ進む", class: "form__sent-btn"
        .form__link
          = link_to "本人登録について＞", "https://www.mercari.com/jp/help_center/article/423/", class: "decoration-none"

.sign-up__footer
  %nav
    %ul
      %li
        プライバシーポリシー
      %li
        メルカリ利用規約
      %li
        特定商取引に関する表記
  =link_to "https://www.mercari.com/jp/", class: "single-footer-logo" do
    =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3791839826", alt: "mercari", class: "single-footer-logo",size:'80px*65px'
  .footer-campany-name
    © 2019 Mercari